:root {
    /* Available colors */
    --red: #60082b;
    --green: #025744;
    --yellow: #f8ea8e;
    --black: #1A1A1A;
    --grey: #666;
    --light-grey: #ececec;
    --light-green: #709641e1;
    --white: #ffffff;
}